certifi==2022.12.7
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==3.1.0
checkdmarc==4.5.2
cryptography==38.0.4
distlib==0.3.6
dmarc==1.0.2
dnslib==0.9.23
dnspython==2.3.0
emailprotectionslib==0.8.3
expiringdict==1.2.2
filelock==3.11.0
flake8==6.0.0
identify==2.5.22
idna==3.4
mccabe==0.7.0
nodeenv==1.7.0
platformdirs==3.2.0
pre-commit==3.2.2
publicsuffix2==2.20191221
pycodestyle==2.10.0
pycparser==2.21
pyflakes==3.0.1
pyleri==1.4.2
pyspf==2.0.14
PyYAML==6.0
requests==2.28.2
resolver==0.2.1
timeout-decorator==0.5.0
urllib3==1.26.15
virtualenv==20.21.0
